# ignore everything in the following folders
data/**

# except their sub-folders
!data/**/

notebooks/archive
notebooks/scratch

presentation/

!.gitkeep
!.gitignore
*.DS_Store
*.RData
*.RHistory
*.zip
ABCD_demo_analysisqmd_files
